<launch>
  <arg name="estimation_transition" default="false"/>
  <arg name="router_auto_switch" default="true"/>
  <arg name="router_fallback" default="true"/>
  <arg name="router_launch_prefix" default=""/>
  <arg name="routed_pose_topic" default="/landing/vision_pose_selected"/>
  <arg name="landing_finish_mode" default="force_disarm"/>
  <arg name="auto_start_on_offboard" default="false"/>
  <arg name="dry_run" default="true"/>
  <arg name="config_root" default="/work/stacks/aruco-landing-jetson/config"/>
  <arg name="marker_confirm_s" default="1.0"/>
  <arg name="marker_loss_s" default="0.5"/>
  <arg name="approach_speed_mps" default="0.5"/>
  <arg name="landing_horizontal_speed_mps" default="0.5"/>
  <arg name="descent_speed_mps" default="0.3"/>
  <include if="$(arg estimation_transition)" file="$(find aruco_landing)/launch/landing_vision_pose_adapter.launch">
    <arg name="allow_marker_switch" value="true"/>
    <arg name="auto_switch" value="$(arg router_auto_switch)"/>
    <arg name="auto_fallback_to_optitrack" value="$(arg router_fallback)"/>
    <arg name="marker_loss_timeout_s" value="$(arg marker_loss_s)"/>
    <arg name="require_trial_enable" value="true"/>
    <arg name="reject_inconsistent_marker" value="true"/>
    <arg name="output_topic" value="$(arg routed_pose_topic)"/>
    <arg name="launch_prefix" value="$(arg router_launch_prefix)"/>
  </include>
  <rosparam file="$(find aruco_landing)/config/common_experiment.yaml" ns="landing_trial_controller"/>
  <node pkg="aruco_landing" type="landing_controller_node.py" name="landing_trial_controller" output="screen" required="true">
    <param name="enabled" value="true"/>
    <param name="landing_altitude_min_m" value="0.0"/>
    <param name="descent_speed_mps" value="$(arg descent_speed_mps)"/>
    <param name="horizontal_speed_limit_mps" value="$(arg landing_horizontal_speed_mps)"/>
    <param name="vehicle_pose_topic" value="/landing/trial/body_pose_pad"/>
    <param name="camera_pose_topic" value="/landing/trial/camera_pose_pad"/>
    <param name="target_visible_topic" value="/landing/trial/control_valid"/>
    <param name="command_topic" value="/landing/trial/landing_cmd_pad"/>
    <remap from="/landing/yaw_cmd" to="/landing/trial/yaw_cmd"/>
    <remap from="/landing/yaw_error" to="/landing/trial/yaw_error"/>
    <remap from="/landing/controller/active" to="/landing/trial/controller/active"/>
    <remap from="/landing/controller/abort" to="/landing/trial/controller/abort"/>
    <remap from="/landing/controller/touchdown" to="/landing/trial/controller/touchdown"/>
    <remap from="/landing/controller/state" to="/landing/trial/controller/state"/>
  </node>
  <node pkg="aruco_landing" type="landing_trial_node.py" name="landing_trial" output="screen" required="true">
    <param name="estimation_transition" value="$(arg estimation_transition)"/>
    <param name="routed_pose_topic" value="$(arg routed_pose_topic)"/>
    <param name="auto_start_on_offboard" value="$(arg auto_start_on_offboard)"/>
    <param name="landing_finish_mode" value="$(arg landing_finish_mode)"/>
    <param name="dry_run" value="$(arg dry_run)"/>
    <param name="extrinsic_file" value="$(arg config_root)/calibration/20260919/base_link_to_see3cam_optical_frame.yaml"/>
    <param name="marker_confirm_s" value="$(arg marker_confirm_s)"/>
    <param name="marker_loss_s" value="$(arg marker_loss_s)"/>
    <param name="approach_speed_mps" value="$(arg approach_speed_mps)"/>
    <param name="landing_horizontal_speed_mps" value="$(arg landing_horizontal_speed_mps)"/>
    <rosparam param="initial_target_global_xy">[0.0, 0.0]</rosparam>
  </node>
</launch>
