<launch>
  <!-- Alignment belongs to physical_pad_estimator; this node only selects inputs. -->
  <arg name="mocap_topic" default="/vrpn_client_node/pure/pose"/>
  <arg name="marker_pose_topic" default="/landing/vision_pose_marker"/>
  <arg name="output_topic" default="/landing/vision_pose_selected"/>
  <arg name="global_frame" default="odom"/>
  <arg name="allow_marker_switch" default="false"/>
  <arg name="auto_switch" default="false"/>
  <arg name="auto_fallback_to_optitrack" default="false"/>
  <arg name="marker_loss_timeout_s" default="0.5"/>
  <node pkg="aruco_landing" type="landing_vision_pose_adapter.py" name="landing_vision_pose_adapter" output="screen" required="true">
    <param name="mocap_topic" value="$(arg mocap_topic)"/>
    <param name="marker_pose_topic" value="$(arg marker_pose_topic)"/>
    <param name="output_topic" value="$(arg output_topic)"/>
    <param name="global_frame" value="$(arg global_frame)"/>
    <param name="allow_marker_switch" value="$(arg allow_marker_switch)"/>
    <param name="auto_switch" value="$(arg auto_switch)"/>
    <param name="auto_fallback_to_optitrack" value="$(arg auto_fallback_to_optitrack)"/>
    <param name="marker_loss_timeout_s" value="$(arg marker_loss_timeout_s)"/>
    <param name="stable_duration_s" value="1.0"/>
    <param name="stable_min_samples" value="30"/>
  </node>
</launch>
